POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=deribit
POSTGRES_PASSWORD=deribit
POSTGRES_DB=deribit

REDIS_HOST=localhost
REDIS_PORT=6379

DERIBIT_BASE_URL=https://www.deribit.com/api/v2
DERIBIT_TIMEOUT_SECONDS=10
DERIBIT_RETRY_ATTEMPTS=3
LOG_LEVEL=DEBUG
